<!--<footer>
	<div class="navbar navbar-default navbar-fixed-bottom center" style="width: 100%;">
		<div class="navbar-inner">
			<ul class="navbar-nav" style="width: 100%; text-align: center;">
				<li style="width: 20%;"><a ui-sref="tab-thread.html">Thread</a></li>
				<li style="width: 20%;"><a href="#">About Us</a></li>
				<li style="width: 20%;"><a href="#">Contact Us</a></li>
				<li style="width: 20%;"><a href="#">Our Partners</a></li>
			</ul>
      	</div>
	</div>
</footer>

<nav class="navbar navbar-default navbar-fixed-bottom center" style="border-radius: 0px;">
	<a ui-sref="home" class="navbar-brand">Hive</a>
</nav>-->

<div class="navbar navbar-inverse navbar-fixed-bottom" style="width: 100%; display: inline;">
	<ul class="navbar-nav" style="display:table; width:100%; table-layout: fixed;">
		<li style="display:table-cell; text-align:center; height: 100%; width: 25%;"><a ui-sref="hive.home">Home</a></li>
		<li style="display:table-cell; text-align:center; height: 100%; width: 25%;"><a ui-sref="hive.thread">Thread</a></li>
		<li style="display:table-cell; text-align:center; height: 100%; width: 25%;"><a ui-sref="hive.add">Add</a></li>
		<li style="display:table-cell; text-align:center; height: 100%; width: 25%;"><a ui-sref="chat">Chat</a></li>
	</ul>
</div>